 .slideshow-container {
            max-width: 100%;
            position: relative;
            margin: auto;
        }

        .mySlides {
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            opacity: 0;
            transition: opacity 1s ease-in-out;
        }

        .mySlides:first-child {
            opacity: 1;
        }

        img{
            width: 80%;
            height: 200px;
        }